/.DS_Store
/.sass-cache/
/bower_components/
/newgravida.esproj/

/htdocs/style.css

/htdocs/*.html
/htdocs/scripts-min.js

.DS_Store

/min/*.js

/htdocs/imgs/*

/htdocs/imgs_originals/

/htdocs/apple-touch-icon.png
/htdocs/favicon.ico
/htdocs/favicons/
htdocs/it
/htdocs/BingSiteAuth.xml
/htdocs/imgs.zip
/.vscode
