/.DS_Store
/.sass-cache/
/bower_components/
/newgravida.esproj/

/_scripts.kit
/htdocs/index.html
/htdocs/style.css

/htdocs/contacts.html
/htdocs/imgs/ema.jpg
/htdocs/scripts-min.js
/htdocs/single-project.html

/htdocs/portfolio.html

emanuele.html

.DS_Store

yoon-website-ecommerce-creation-brand-redesign.html

/htdocs/bad-client-bad-work.html

/min/_form-scripts-min.js

/htdocs/edoardo-sportelli-graphic-designer.html
/htdocs/emanuele-feliziani-web-developer.html

/htdocs/imgs/both.jpg
/htdocs/imgs/edo-home-7.jpg
/htdocs/imgs/ema-home-21.jpg
/htdocs/imgs/logo-gravida.png
/htdocs/imgs/main-home-alt.jpg
/htdocs/imgs/main-home.jpg
/htdocs/imgs/mammocci/
/htdocs/imgs/projects/
/htdocs/insulin-and-food-ios-app-design.html

/htdocs/404-page-not-found.html
/htdocs/about.html

/htdocs/imgs/serv-home-1.jpg
/htdocs/imgs/serv-home-2.jpg
/htdocs/imgs/serv-home-3.jpg
/htdocs/imgs/serv-home-4.jpg
/htdocs/imgs/serv-home-5.jpg
/htdocs/imgs/serv-home-6.jpg
/htdocs/imgs/serv-home-640-1.jpg
/htdocs/imgs/serv-home-640-2.jpg
/htdocs/imgs/serv-home-640-3.jpg
/htdocs/imgs/serv-home-640-4.jpg
/htdocs/imgs/serv-home-640-5.jpg
/htdocs/imgs/serv-home-640-6.jpg
/htdocs/lets-work-together.html
