/.DS_Store
/.sass-cache/
/bower_components/
/config.codekit
/newgravida.esproj/

/_scripts.kit
/htdocs/.DS_Store
/htdocs/index.html
/htdocs/style.css

/htdocs/contacts.html
/htdocs/imgs/ema.jpg
/htdocs/scripts-min.js
/htdocs/single-project.html

/htdocs/portfolio.html

.DS_Store
