AddType text/cache-manifest .appcache

<IfModule mod_rewrite.c>
	RewriteEngine on
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteCond %{REQUEST_FILENAME}\.html -f
	RewriteRule ^(.*)$ $1.html
	# Replace html with your file extension, eg: php, htm, asp
</IfModule>

ErrorDocument 404 /404-page-not-found.html

Redirect 301 /emanuele https://gravida.pro/emanuele-feliziani-web-developer
Redirect 301 /edoardo https://gravida.pro/edoardo-sportelli-graphic-designer